.input {
  width: 380px;
  height: 44px;
  border: transparent;
  border-radius: 9px;
  background-color: var(--primary);
  font-size: 16px;
  outline: transparent;
  padding-left: 15px;
  padding-right: 15px;
  transition: all 0.2s;
}

.input:hover {
  outline: 1px solid #ffbbc9;
  box-shadow: 0 0 0 4px rgb(229 92 120 / 12%), 0 0 0 4px rgb(229 92 120 / 12%);
  background-color: var(--white);
}

.input:focus {
  outline: 1px solid #e65c78;
  box-shadow: 0 0 0 4px rgb(229 92 120 / 12%), 0 0 0 4px rgb(229 92 120 / 12%);
  background-color: var(--white);
}
