{
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": true,
  "semi": true,
  "singleQuote": false,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/screens/(.*)$",
    "^@/components/(.*)$",
    "^@/ui/(.*)$",
    "^@/hooks/(.*)$",
    "^@/shared/(.*)$",
    "^@/assets/(.*)$",
    "^@/utils/(.*)$",
    "^@/configs/(.*)$",
    "^@/store/(.*)$",
    "^../(.*)",
    "^./(.*)",
    "(.css)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
