:root {
  --primary-light: #feebef;
  --primary: #ffdee5;
  --primary-darker: #e65c78;
  --white: #fff;
  --black: #000;
  --body-bg: #f0f0f0;
  --sidebar-bg: #f2f2f2;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: var(--body-bg);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) { */

/*  html { */

/*    color-scheme: dark; */

/*  } */

/*  body { */

/*    color: white; */

/*    background: black; */

/*  } */

/* } */
